<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Lakshman Gope">
    <meta name="description" content="A simple url shortener. Using ejs, nodejs, expressjs, mongodb">
    <meta name="keywords" content="JavaScript,ejs,nodejs,expressjs, mongodb">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- favicon -->
    <link rel="icon"
        href="https://4.bp.blogspot.com/-fcPYy_0QhRg/V3ZwjCoHUHI/AAAAAAAAA5c/8DzdhzhGjYwhTPI2TpYPRld2iidHbd7aACLcB/s1600/Evolution%2BCursor.png"
        type="image/gif" sizes="16x16">

    <!-- bootstrap cdn -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>URL Shortener</title>
</head>

<body>
    <div class="container">
        <h1>URL Shortener</h1>
        <form action="/shortUrls" method="POST" class="my-4 form-inline">
            <label for="fullUrl" class="sr-only">Url</label>
            <input required placeholder="Url" type="url" name="fullUrl" id="fullUrl" style="max-width: 69%;"
                class="form-control col mr-1">
            <button class="btn btn-outline-success" type="submit">Shrink</button>
        </form>

        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th>Full URL</th>
                    <th>Short URL</th>
                    <th>Clicks</th>
                </tr>
            </thead>
            <tbody>
                <% shortUrls.forEach(shortUrl => { %>
                <tr>
                    <td><a href="<%= shortUrl.full %>" target="blank"><%= shortUrl.full %></a></td>
                    <td><a href="<%= shortUrl.short %>" target="blank"><%= shortUrl.short %></a></td>
                    <td><%= shortUrl.clicks %></td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</body>

</html>